/*
 * Кастомный вид формы входа
 */
  
/* Фон
 * Это можем быть картинка или цвет, прописывайте !important в конце.
 */
 
 
html, body {
 background-color:#2ca1cc!important;
 height:initial!important;
 }
  
  
/* Заголовок (Лого "WordPress")
 * Можно вставить любое изображение с вашим логотипом, но при этом нужно задавать высоту и ширину, с употреблением !important
 */
#login h1 a {
 display:none;
 }
  
/* Форма
 * Цвет фона, рамки, тень и т.д..
 */
.login .message {
 border-radius:4px;
}
#login form {
 background-color:#fff;
 border-radius:4px;
 }
  
/* Поля входа
 * Поле логин и пароль
 */
#login .input {
 background-color:#eaedf2;
 border: none;
 border-radius:3px;
 }
 
 
#login label {
 color: #888;
 font-size:15px;
 }
/*
 * Кнопка Войти
 */
#login input[type=submit] {
 background-color: #47ACF0;
 border-radius: 0px;
 border: none;
 border-radius:3px;
 border-bottom: 4px solid #4592C4;
 }
  
#login input[type=submit]:active {}
  
/*
 * Вернуться в блог и кнопка Забыли пароль
 */
#nav a,
#backtoblog a {
 color:#fff !important;
 }